*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgba(240, 248, 255, 0.651);
    
}
body{
    font-size: 100%;
    color: aliceblue;
    background-color: rgb(22, 3, 43);
}

.cabecalho{
    padding: 30px;
    background-color: rgba(253, 248, 248, 0.103);
}
.cabecalho-conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.logo{
    height: 120px;
}
.menu{
    display: flex;
    gap: 40px;
    font-weight: 400;
    font-size:18px ;
}
.icon{
display: flex;
gap: 20px;
}